<footer id="footer" class="sixteen columns" data-hook>
  <div class="content">
    <div class="row">
      <div class="eight columns alpha">
        <h5>联系方式</h5>
        <div class="address">
          <span>地址:</span>
          <% @address_menu = Spree::MenuBar.find_by_name("address_menu") %>
          <%= render :partial => "spree/shared/render_menu", :locals => {:menu_bar => @address_menu} %>
        </div>
        <div class="phone">
          <span>电话:</span>
          <% @phone_menu = Spree::MenuBar.find_by_name("phone_menu") %>
          <%= render :partial => "spree/shared/render_menu", :locals => {:menu_bar => @phone_menu} %>
        </div>
        <div class="fax">
          <span>传真:</span>
          <% @fax_menu = Spree::MenuBar.find_by_name("fax_menu") %>
          <%= render :partial => "spree/shared/render_menu", :locals => {:menu_bar => @fax_menu} %>
        </div>
        <div class="email">
          <span>邮箱:</span>
          <% @email_menu = Spree::MenuBar.find_by_name("email_menu") %>
          <%= render :partial => "spree/shared/render_menu", :locals => {:menu_bar => @email_menu} %>
        </div>
        <div class="qq">
          <span>QQ:</span>
          <% @qq_menu = Spree::MenuBar.find_by_name("qq_menu") %>
          <%= render :partial => "spree/shared/render_menu", :locals => {:menu_bar => @qq_menu} %>
        </div>
      </div>
      <div class="four columns">
        <h5>常用表格下载</h5>
        <% @assets_menu = Spree::MenuBar.find_by_name("assets_menu") %>
        <%= render :partial => "spree/shared/render_menu", :locals => {:menu_bar => @assets_menu} %>
      </div>
      <div class="four columns omega">
        <h5>领馆网站</h5>
        <% @site_menu = Spree::MenuBar.find_by_name("site_menu") %>
        <%= render :partial => "spree/shared/render_menu", :locals => {:menu_bar => @site_menu} %>
      </four>
    </div>
  </div>
</footer>