%ul
	%li#asisa
		= link_to "亚洲", "/t/ya-zhou"
	%li#europe
		= link_to "欧洲", "/t/ou-zhou"
	%li#north-america
		= link_to "北美洲", "/t/bei-mei-zhou"
	%li#south-america
		= link_to "南美洲", "/t/nan-mei-zhou"
	%li#africa
		= link_to "非洲", "/t/fei-zhou"
	%li#oceania
		= link_to "大洋洲", "/t/da-yang-zhou"
	%li#antarctica
		= link_to "南极洲", "/t/nan-ji-zhou"
	%li#moon
		= link_to "月球", "/t/yue-qiu"
